.name{
	text-align: right;
	color: #34BE82;
	margin-bottom: -2rem;
}
.cs{
	color: #34be82;
}
.bold {
	font-weight: bold;
}
.text-quest{
	border-bottom: 1px solid #34be82;
	font-size: 2.1rem;
	display: inline;
}
p{
	font-size: 2.1rem;
}
li{
	font-size: 2rem;
}
.title{
	letter-spacing: 0.3em !important;
}
.icon{
	height: 6rem;
	widows: 6rem;
	position: absolute;
}
.icon-js{
	fill: #F7DF1E;
	left: 45%;
	top: -4rem;
}
.icon-node{
	fill: #339933;
	left: 15%;
	top: -4rem;
}
.icon-react{
	fill: #61DAFB;
	left: 75%;
	top: -4rem;
}
.icon-eye{
	position: initial !important;
	width: 10rem;
	height: 10rem;
	margin-top: -5rem;
	margin-left: -1rem;
}
.icon-eye,
.icon-eye path{
	fill: #34BE82;
	stroke: #34BE82;
}
.icon-redux{
	fill: #764ABC;
	left: 45%;
	top: -4rem;
}
.icon-paleta{
	left: 45%;
	top: -4rem;
	stroke: #34BE82;
}
.icon-telf{
	left: 15%;
	top: -4rem;
	stroke: #34BE82;
}
.icon-compu{
	stroke: #34BE82;
	left: 75%;
	top: -4rem;
}